/* Global */

body {
    margin: 0px;
    padding: 0px;
    background-color: #f0ede5;
}
p {
  font-family: 微軟正黑體;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-6 {
    width: 90%;
}
/* Header style*/

header {
    display: flex;
    align-items: center;
    background-color: #333333;
    width: 100%;
    height: 80px;
}
#logo {
    margin-left: 2%;
}
#logo div {
    display: flex;
    align-items: center;
}

/* Nav style*/
.site-nav{
  width: 100%;
  background-color: #e87536;
  display: flex;
  justify-content: center;
}

.site-nav ul{
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.site-nav ul li{
  width: 100%;
}

.site-nav li:hover{
  background-color: #7d6c59;
}

.site-nav a {
	display: block;
	color: white;
	padding: 20px 50px;
  border-left: 1px solid #585858;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 微軟正黑體;
}
#first-item {
    border-left: none;
}

#question {
  display: flex;
  align-items: center;
  margin: 30px auto 30px 50px;
}

#question p {
  margin-left: 50px;
  font-weight: bolder;
  font-size: 24px;
}

/* Artical style*/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 570px;
}
.row {
    margin: 0;
}
.articles {
    margin-top: 30px;
    margin-bottom: 30px;
}
.article {
    color: #222;
    background: rgba(255, 255, 255, .9);
    border-spacing: 2px;
    border-color: gray;
    font-family: arial, sans-serif;
    border-bottom: 1px #e5e5e5 solid;
}
.current .item {
    background: rgba(206, 220, 206, .9);
}
.item {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.item .source {
    margin-left: 20px;
}
.item .title {
    font-weight: bold;
}
.item .pubdate {
    margin-right: 20px;
}
.item .pubdate {
    text-align: right;
}
.description {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.description h1 {
    margin-top: 0px;
    margin-left: 5%;
    font-size: 23px;
}
.description p {
    margin-left: 5%;
}

/* Footer style*/

#footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #6e6a61;
	width: 100%;
}

#footer_copyrights {
  margin-left: 2%;
  font-size: 16px;
  color: white;
  line-height: 30px;
}

#footer_copyrights p{
  margin: 0;
  padding: 0;
}

#footer_shares {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  font-size: 24px;
  color: white;
}
