/* Global style*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #f0ede5;
}

p {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.black{
  width: 100%;
  height: 850px;
  position: absolute;
  z-index: -1;
  background-color: rgb(4, 4, 4);
}

/* Header style*/
header {
  display: flex;
  align-items: center;
  background-color: #333333;
	width: 100%;
	height: 80px;
}

#logo {
  margin-left: 2%;
}

#logo div {
  display: flex;
  align-items: center;
}

/* Nav style*/
.site-nav{
  width: 100%;
  background-color: #e87536;
  display: flex;
  justify-content: center;
}

.site-nav ul{
  display: flex;
}

.site-nav li:hover{
  background-color: #7d6c59;
}

.site-nav a {
	display: block;
	color: white;
	padding: 20px 60px;
  border-left: 1px solid #585858;
  font-size: 20px;
  font-family: 微軟正黑體;
}

#first-item{
  border-left: none;
}

/* Slider style*/
.container{
  margin-left: auto;
  margin-right: auto;
  width: 1631px;
  height: 1050px;
}
.slider{
  position: relative;
  width:100%;
  height: 850px;
}

.slide{
  display: none;
  width: inherit;
  position: absolute;
}

.slide img{
  max-width: 100%;
  height: auto;
}

.active-slide{
  display: block;
}

.arrow:hover{
  cursor: pointer;
  background-color: #e87536;
}

.left-arrow{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 45px;
  top: 55%;
  background-image: url(../images/left-arrow.png);
  background-color: rgba(46, 46, 46, 0.84);
}

.right-arrow{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 45px;
  top: 55%;
  background-image: url(../images/right-arrow.png);
  background-repeat:no-repeat;
  background-color: rgba(46, 46, 46, 0.84);
}
/*main area*/
#slogen{
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slogen h1{
  font-family: 微軟正黑體;
  margin-right: 50px;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #6e6a61;
	width: 100%;
}

#footer_copyrights {
  font-size: 16px;
  color: white;
  line-height: 30px;
}

#footer_shares {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  font-size: 24px;
  color: white;
}
