body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f0ede5;
  align-items: center;
}

p {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header style*/
header {
  display: flex;
  align-items: center;
  background-color: #333333;
	width: 100%;
	height: 80px;
}

#logo {
  margin-left: 2%;
}

#logo div {
  display: flex;
  align-items: center;
}

/* Nav style*/
nav {
  background-color: #e87536;
  width: 100%;
}

.menu {
  display: flex;
  justify-content:space-between;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 224px;
  height: 60px;
  border-left: 1px solid #585858;
}

.menu li:hover {
  background-color: #7d6c59;
}

.menu li a{
  color: white;
  font-family: 微軟正黑體;
  font-size: 20px;
  padding:15px 70px 15px 70px;
}

#first-item{
  border-left: none;
}
