/* Global */
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f0ede5;
  align-items: center;
}

p {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header style*/
header {
  display: flex;
  background-color: #333333;
	width: 100%;
	height: 80px;
}

#logo {
  margin-left: 400px;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}

/* Nav style*/
nav {
  background-color: #e87536;
  width: 100%;
}

.menu {
  display: flex;
  justify-content:space-between;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 224px;
  height: 60px;
  border-left: 1px solid #585858;
}

.menu li:hover {
  background-color: #7d6c59;
}

.menu li a{
  color: white;
  font-family: 微軟正黑體;
  font-size: 20px;
  padding:15px 70px 15px 70px;
}

#first-item{
  border-left: none;
}

/*main area*/
#base {
  display: flex;
	width: 1120px;
	height: 1400px;
  flex-direction: column;
}

#menu_Home {
  background-color: rgb(244, 177, 131);
}

#menu_AboutUs {
  background-color: rgb(157, 195, 230);
}

#menu_Services {
  background-color: rgb(169, 209, 142);
}

#menu_Portfolio {
  background-color: rgb(225, 187, 72);
}

#menu_Contact {
  background-color: rgb(246, 101, 168);
}

#map {
  position: relative;
  width: 100%;
  height: 680px;
}

#map_img {
  position: absolute;
}

#map_info1 {
  margin: 100px auto auto 50px;
  width: 50px;
  height: 25px;
  background-color: white;
  position: absolute;
}
#map_info2 {
  margin: 50px auto auto 250px;
  width: 50px;
  height: 25px;
  background-color: white;
  position: absolute;
}
#map_info3{
  margin: 150px auto auto 150px;
  width: 50px;
  height: 25px;
  background-color: white;
  position: absolute;
}

#new_items_title {
  margin: 20px;
  color: red;
  font-size: 36px;
}

#new_items {
  display: flex;
  justify-content: space-around;
	width: 100%;
}

.new_item_info {
  margin-top: -5px;
  height: 110px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.new_item_info > p{
  line-height: 30px;
}

#footer {
  display: flex;
  align-items: center;
  background-color: white;
	width: 100%;
}

#footer_copyrights {
  align-items: center;
  padding: 10px;
  margin : 0px 250px 0px auto;
  font-size: 24px;
  line-height: 36px;
}

#footer_shares {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin : 0px auto 0px 150px;
  font-size: 24px;
}
