/* Global */
body {
  margin: 0px;
  padding: 0px;
  background-color: #f0ede5;
}

p {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header style*/
header {
  display: flex;
  align-items: center;
  background-color: #333333;
	width: 100%;
	height: 80px;
}

#logo {
  margin-left: 2%;
}

#logo div {
  display: flex;
  align-items: center;
}

/* Nav style */
.site-nav{
  width: 100%;
  background-color: #e87536;
  display: flex;
  justify-content: center;
}

.site-nav ul{
  display: flex;
}

.site-nav li:hover{
  background-color: #7d6c59;
}

.site-nav a {
	display: block;
	color: white;
	padding: 20px 60px;
  border-left: 1px solid #585858;
  font-size: 20px;
  font-family: 微軟正黑體;
}

#first-item{
  border-left: none;
}

/*main area*/
#base {
	width: 1120px;
  margin: auto;
}

#menu_Home {
  background-color: rgb(244, 177, 131);
}

#menu_AboutUs {
  background-color: rgb(157, 195, 230);
}

#menu_Services {
  background-color: rgb(169, 209, 142);
}

#menu_Portfolio {
  background-color: rgb(225, 187, 72);
}

#menu_Contact {
  background-color: rgb(246, 101, 168);
}

#map {
  position: relative;
  width: 100%;
  height: 680px;
}

#map_img {
  position: absolute;
}

.map_info {
  background-color: white;
  position: absolute;
  text-align: center;
}

.map_info:hover {
  background-color: blue;
  cursor: pointer;
}

.map_info_pop_up {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 20;
}

.active-map_info_pop_up {
  display: block;
}

#place1 {
  margin: 100px auto auto 95px;
}

#place2 {
  margin: 165px auto auto 65px;
}

#place3{
  margin: 90px auto auto 215px;
}

#place4{
  margin: 150px auto auto 215px;
}

#place5{
  margin: 100px auto auto 315px;
}

#place6{
  margin: 150px auto auto 320px;
}

#place7{
  margin: 150px auto auto 430px;
}

#place8 {
  margin: 280px auto auto 95px;
}

#place9 {
  margin: 355px auto auto 95px;
}

#place10 {
  margin: 450px auto auto 120px;
}

#place11 {
  margin: 255px auto auto 210px;
  font-size: 13px;
}

#place12 {
  margin: 330px auto auto 220px;
  font-size: 13px;
}

#place13 {
  margin: 255px auto auto 330px;
}

#place14 {
  margin: 330px auto auto 300px;
}

#place15 {
  margin: 390px auto auto 335px;
}

#place16 {
  margin: 480px auto auto 340px;
}

#place17 {
  margin: 300px auto auto 405px;
}

#place18 {
  margin: 255px auto auto 490px;
}

#place19 {
  margin: 380px auto auto 480px;
}

#place20 {
  margin: 440px auto auto 485px;
}

#place21 {
  margin: 237px auto auto 650px;
}

#place22 {
  margin: 440px auto auto 680px;
}

#place23 {
  margin: 200px auto auto 836px;
}

#place24 {
  margin: 184px auto auto 968px;
}

#place25 {
  margin: 298px auto auto 828px;
}

#place26 {
  margin: 280px auto auto 885px;
}

#place27 {
  margin: 265px auto auto 960px;
}

#place28 {
  margin: 470px auto auto 897px;
}

#place29 {
  margin: 420px auto auto 970px;
  font-size: 15px;
}

#place30 {
  margin: 550px auto auto 991px;
}



#new_items_title {
  margin: 20px;
  color: red;
  font-size: 36px;
}

#new_items {
  display: flex;
  justify-content: space-around;
	width: 100%;
}

.new_item_info {
  margin-top: -5px;
  height: 110px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.new_item_info > p{
  line-height: 30px;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #6e6a61;
	width: 100%;
}

#footer_copyrights {
  font-size: 16px;
  color: white;
  line-height: 30px;
}

#footer_shares {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  font-size: 24px;
  color: white;
}
